* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main {
    background-color: rgb(231, 228, 228);
}

.box-1,
.box-2,
.box-4 {
    height: 60vh;
    margin: 0 10% 0 10%;
}

.box-1 {
    background-color: rgb(49, 113, 250);
}

.box-2 {
    background-color: grey;
    height: 40vh;
}

.box-3 {
    height: 20vh;
    margin: 0 10% 0 10%;
}

.box-4 {
    background-color: white;
}

.box-1 #text {
    display: block;
    height: 200px;
    width: 500px;
    top: -50;
    left: 0;
    transform: translate(90vh, -50vh);
}

.box-1 .BUY-button {
    border-radius: 30px;
    color: white;
    margin-top: 10%;
    background-color: black;
}

.box-4 .BUY-button {
    border-radius: 30px;
    color: white;
    background-color: black;
}

.box-1 img {
    top: 0;
    left: 0;
    transform: translate(10%, 20%);
    max-width: 60%;
    max-height: 50%;
}

.box-2 #text {
    top: 0;
    left: 0;
    transform: translate(0%, 140px);
    text-align: center;
}

.box-2 h2 {
    padding: 1%;
}

.box-3 .text {
    display: inline-block;
    width: 170px;
    text-align: center;
    margin: 2.4%;
    margin-top: 5%;
    margin-left: 15%;
}

.box-4 .box {
    margin-top: 2%;
    display: inline-block;
    text-align: center;
    margin-left: 15%;
    max-width: 20%;
    max-height: 40%;

}

.box-4 img {
    width: 100%;

}

.box-4 #sec {
    margin-left: 30%;
}

@media only screen and (max-width: 768px) {

    body {
        background-color: red;
    }

    .box-1,
    .box-2,
    .box-4 {
        height: 50vh;
        margin: 0 10% 0 10%;
    }

    .box-1 #text{
        text-align: center;
        display: block;
        height: 500px;
        width: 200px;
        top: -50;
        left: 0;
        transform: translate(5vh, -20vh);
        font-size: small;
    }
    .box-1{
        height: 40vh;
    }
    .box-2{
        height: 40vh;
    }
    .box-4{
        height: 52vh;
    }
    .box-1 img {
        top: 0;
        left: 0;
        transform: translate(9vh, 33vh);
        width: 60%;
        height: 90%;
    }
    .box-2 #text{
        top: 0;
        left: 0;
        transform: translate(0vh,12vh);
    }
    .box-3 .text {
        display: inline-block;
        width: 40vh;
        text-align: center;
        margin: 0%;
        margin-top: 9%;
        margin-left: -3%;
        /* margin-left: 15%; */
    }
    .box-4 .box {
        margin-top: 2%;
        display: block;
        text-align: center;
        margin-left: 30%;
        max-width: 40%;
        max-height: 50%;
    
    }
}